body{
    background-color: black;
    color:aliceblue;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:  300;
  font-style: normal;
}
.header{
  display: flex;
  align-items: center;
}
/* 
o align items alinha verticalmente quando o flex direction esta no column,mas 
quando esta no row ele trabalha horizontalmente,e o justify content quando
esta no row ele trabalha horizontalmete e no cplumn ao contrario
*/
.tarefas{
background-color: #161616;
display:flex;
flex-direction: column;
align-items: flex-start;
gap: 1px
;


}
#sub{
display: flex;
margin-top: 0%;
margin-bottom: 10px;
gap: 1%;
}
.containerheader{
display: flex;
flex-direction: column;
margin: 0px;

}
.conteinerbarra{
background-color: aliceblue;
height: 150px;
width: 20px;  
}
.corinterna{
background-color:black;
display: flex;
height: px;
width: 20px;
justify-content: flex-start;
align-items: flex-start;


}

.div-pai-tarefas{
 display: flex;
 flex-direction: row;
 background-color:#161616;
 gap: 20px;
 align-items:center;
 margin-top: 0px;
 padding-top: 0px
 ;

}
.div-mae-barra {
display: flex;
margin-top: 34px;
}
